<section class="qa-block" id="qa-{{this.id}}">
  <div class="q hvr-icon-hang" id="q-{{ this.id }}">
    <h4>
      <button class="btn btn-link" type="button"
        aria-expanded="false"
        data-toggle="collapse"
        data-target="#a-{{ this.id }}">
        <i class="fa fa-question-circle-o"></i>
        <span>{{ this.q }}</span>
        <span>
          <i class="fa fa-chevron-down hvr-icon"></i>
        </span>
      </button>
    </h4>
  </div>
  <div id="a-{{ this.id }}"
      class="a collapse">
    {{ this.a }}
  </div>
</section>
