#main {
  background: #f2f9ff;
}

a, .btn {
    color: #5085b2;
    text-decoration: none;
}

a:hover, .btn:hover {
    color: #22394c;
    text-decoration: none;
}

h1 {
    color: #73bfff;
    font-size: 3.2em;
    font-weight: bold;
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    line-height: 1;
}

h2 {
    font-size: 1.2em;
    margin-top: 0.2em;
    margin-bottom: 2em
}

h1,h2 {
    text-align: left
}

h3 {
    font-size: 1.3em;
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 1em;
    position: relative;
    padding-left: 0.1em
}

h3:hover .anchor,h3:focus .anchor {
    display: block
}

h3 ~ p {
    margin-top: 0
}

h1,h2,h3 {
    margin-top: 0;
    padding-top: 1em
}

.jumbotron-block {
  background-color: #d9eeff;
}

.jumbotron-block .title {
  width: 80%;
  margin: 0 auto;
}

.jumbotron-block h1 {
  font-size: 2.5em;
  font-weight: normal;
}

.jumbotron-block h2 {
  font-size: 1.8em;
  font-weight: normal;
}

.text-block h3 {
  font-size: 1.6em;
  font-weight: bold;
  color: #73bfff;
}

.qa-block .q {
  border-bottom: 1px solid rgba(63,43,45,0.2);
  padding: 1.5em 0 1.2em;
}

.qa-block h4 {
  font-size: 1.3em;
  cursor: pointer;
}


@media (min-width: 1077px) {
  .jumbotron-block .title {
    padding-left: 10%;
    padding-right: 10%
  }
  .jumbotron-block .hint {
    padding-left: 10%;
    padding-right: 10%
  }
  .text-block {
    padding-left: 25%;
    padding-right: 25%;
  }
  .qa-block {
    padding-left: 25%;
    padding-right: 25%;
  }
}

div.page-banner {
    margin: 15px 0;
    background-size: cover;
    background-position: 50%;
    background-color: #3d3639
}

div.page-banner:first-child {
    margin-top: 0
}

div.page-banner.page-banner-500-tall {
    height: 500px
}

@media (max-width: 767px) {
    div.page-banner.page-banner-500-tall {
        height:400px
    }
}

div.page-banner.page-banner-500 {
    height: 500px
}

@media (max-width: 1199px) {
    div.page-banner.page-banner-500 {
        height:300px
    }
}

@media (max-width: 991px) {
    div.page-banner.page-banner-500 {
        height:200px
    }
}

div.page-banner.page-banner-300 {
    height: 300px
}

@media (max-width: 1199px) {
    div.page-banner.page-banner-300 {
        height:200px
    }
}

@media (max-width: 991px) {
    div.page-banner.page-banner-300 {
        height:120px
    }
}

div.page-banner.page-banner-200 {
    height: 200px
}

@media (max-width: 991px) {
    div.page-banner.page-banner-200 {
        height:120px
    }
}

footer {
  border-top: 1px solid #666;
  padding: 10px 0;
  color: #222;
  line-height: 36px;
}
